@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
    transition: 0.3s;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 3vw;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 2vw;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4vw;
}

h2 {
    position: absolute;
    color: rgb(102, 102, 102);
    left: 10%;
    right: 10%;
    top: 15%;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

html {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

div {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

body {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

/* @media only screen and (min-width: 600px) {
    h2 {
        font-size: 2vw;
    }
} */

/* NAVBAR STYLES*/
/* NAVBAR STYLES*/
.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: right;
    font-family: 'Open Sans';
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .active {
    color: #db0011;
}

/* RED BACKGROUND STYLES*/

.red-background {
    background-color: #db0011;
    position: absolute;
    z-index: -1;
    padding-left: 100%;
    height: 65%;

}

/* Form Input Box Styles*/

.formbox {
    background-color: #eeeeee;
    position: absolute;
    display: flex;
    z-index: 0;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;

    /* margin-top: 20%; */

}


.red-cta {
    background-color: #f1868f;
    color: white;
    width: 110%;
    left: -5%;
    padding: 10px 10px;
    text-align: center;
    font-size: 2em;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 50px;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    top: 75%;
}

.red-cta:hover {
    background-color: #db0011;

}

.grey-cta1 {
    background-color: #c0c0c0;
    color: white;
    width: 110%;
    height: 10%;
    left: -5%;
    padding: 10px 10px;
    text-align: center;
    font-size: 2em;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 50px;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    top: 60%;
}

.grey-cta1:hover {
    background-color: #f1868f;
    color: #c0c0c0;

}

.grey-cta2 {
    background-color: #c0c0c0;
    color: white;
    width: 110%;
    height: 10%;
    left: -5%;
    padding: 10px 10px;
    text-align: center;
    font-size: 2em;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 50px;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    top: 70%;
}

.grey-cta2:hover {
    background-color: #f1868f;
    color: #c0c0c0;

}

.grey-cta3 {
    background-color: #c0c0c0;
    color: white;
    width: 110%;
    height: 10%;
    left: -5%;
    padding: 10px 10px;
    text-align: center;
    font-size: 2em;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 50px;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    top: 80%;
}

.grey-cta3:hover {
    background-color: #f1868f;
    color: #c0c0c0;

}

.FormInput {
    padding: 10px 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    left: 10%;
    top: 62%;

}

.multi-step {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    left: 10%;
    top: 50%;

}

.multi-step2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0%;
    padding-left: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    left: 10%;
    top: 60%;

}

.multi-step3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0%;
    padding-left: 1%;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 0;
    transition: 0.3s;
    position: absolute;
    width: 25%;
    left: 65%;
    top: 60%;

}

/* Circles that indicate form progress  */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}